name: Deploy Orchestrator

on:
  workflow_dispatch:
    inputs:
      instance:
        description: "Instance name"
        type: choice
        required: true
        default: dev
        options:
          - dev
          - staging
          - prod

      product_type:
        description: "Product to deploy"
        type: choice
        required: true
        default: All
        options:
          - All
          - Product1
          - Product2

      product_versions:
        description: >
          Product version:
          - "latest" for latest
          - "1.22" for a single product
          - "Product1:1.22,Product2:1.23" when Product Type = All
        type: string
        required: true
        default: latest

jobs:
  deploy:
    name: Deploy via reusable workflow
    strategy:
      matrix:
        instance:
          - ${{ github.event.inputs.instance }}
    uses: ./.github/workflows/deploy-reusable.yml
    with:
      instance_name:    ${{ matrix.instance }}
      product_type:     ${{ github.event.inputs.product_type }}
      product_versions: ${{ github.event.inputs.product_versions }}
